*{
    margin: 01;
    padding: 0;
}
/* Font Add sction */
.azeret-mono-normal {
  font-family: "Azeret Mono";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}
.Hero-bg{
    background-image: url('../assets/Hero-bg.png');
    Width: 998 px;
    Height: 585px;
    Top: 157px;
    Left: 221px;
}

.Group-Logo{
    position: relative;
    align-items: center;
    text-align: center;
}

/* "In the near future, I hope to become a Developer." */
.Hero-bg-header{
    position: static;
    /* width: 1300px;
    height: 165px; */
    align-items: center;
    gap: 20;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    
}
.Hero-bg-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.Hero-bg-button{
    width: 248px;
    height: 65px;
    justify-content: center;
    align-items: center;
    gap: 05;
    padding: 15px 20px 15px 20px;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.Web-Development-content{
/* border: 10px solid red */
margin: 10px 02px;
padding: 0 2px;


}
.wd-content-header{
    margin-top: 50px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.wd-content-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.World-content{
    margin-top: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 0px;
}
.wc-header{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left; 
}
.wc-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.Learn-More{
    position: static;
    width: 180px;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 15px 20px 15px 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.My-Inspiration{
    align-items: center;
    text-align: center;
    margin-top: 35px;
}
.My-Inspiration-header{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.My-Inspiration-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.My-Current-Target{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.My-Current-Target-header{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.My-Current-Target-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.Target{
    display: flex;
    align-items: center;
}
.Target-content1{
    position: static;
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5;
    padding: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 48px 0px;
}
.Target-content2{
    position: static;
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5;
    padding: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 48px 0px;
}
.Target-content3{
    position: static;
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5;
    padding: 40px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 48px 0px;
}
.Target-header{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.Target-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}
.My-Next-Target{
    display: block;
    margin-top: 40px;
    padding: 20px;
}
.My-Next-Target-header{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    /* text-align:center; */
}
.My-Next-Target-paragraph{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.My-Next-Target-content1{
    position: static;
    /* width: 1140px;
    height: 219px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 40px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 10px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.My-Next-Target-content2{
    position: static;
    /* width: 1140px;
    height: 219px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 40px;
    flex: none;
    order: 0;
    flex-grow: 2;
    margin: 30px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    }
.My-Next-Target-content3{
    position: static;
    /* width: 1140px;
    height: 219px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 40px;
    flex: none;
    order: 0;
    flex-grow: 3;
    margin: 30px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.My-Next-Target-content-img{
    display: inline-flex;
    margin-top: 30px 30px;
}
.next-Target h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.next-Target p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.need-support{
    margin-top: 50px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.603);
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 9px;
}

.footer{
    background-color: gainsboro;
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 50px;
}